.dialog::backdrop {
  background: black;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    overlay 0.5s ease-in-out,
    display 0.5s ease-in-out;
  transition-behavior: allow-discrete;
}

.dialog[open]::backdrop {
  opacity: 0.2;
}

.dialog {
  max-width: min(320px, calc(100% - 8px));
  min-width: min(320px, calc(100% - 8px));
  min-height: 260px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 4px solid var(--color-primary-hex);
  transform: translateY(-100vh);
  transition:
    transform 0.5s ease-in-out,
    overlay 0.5s ease-in-out,
    display 0.5s ease-in-out;
  transition-behavior: allow-discrete;
}

.dialog[open] {
  transform: translateY(0);
}

@starting-style {
  .dialog[open]::backdrop {
    opacity: 0;
  }

  .dialog[open] {
    transform: translateY(-100vh);
  }
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.dialogCloseButton {
  all: unset;
  padding: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
}

.dialogCloseButton:focus-visible {
  border-color: var(--color-primary-hex);
  transform: scale(1.05);
}

.dialogBody {
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  .dialogCloseButton:hover {
    border-color: var(--color-primary-hex);
    transform: scale(1.05);
  }
}

@media (prefers-color-scheme: dark) {
  .dialog {
    color: white;
    background: black;
  }
}

@media (prefers-reduced-motion) {
  .dialog::backdrop,
  .dialog {
    transition: none;
  }

  .dialogCloseButton:hover,
  .dialogCloseButton:focus-visible {
    transform: none;
  }
}
