.gameDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameDisplay img {
  max-width: 320px;
  border-radius: var(--border-radius);
}

.answer,
.date,
.description,
.prompt {
  margin: 0;
  margin-top: 16px;
  text-align: center;
  text-wrap: balance;
}

.answer,
.date {
  font-weight: bolder;
}

.endMessage {
  text-align: center;
  text-wrap: balance;
  font-weight: bolder;
}

.source {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--color-primary-hex);
}

.guessesContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .source:hover {
    color: red;
  }
}
