.statRow {
  display: flex;
  justify-content: space-around;
}

.statRow {
  margin-top: 16px;
}

.statRow + .statRow {
  margin-top: 32px;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.statItem > div:first-child {
  font-weight: bolder;
}
