.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(data-text);
  position: absolute;
  display: none;
  font-size: 0.75rem;
  transform: translateX(-50%) translateY(-125%);
  width: 160px;
  padding: 8px 4px;
  border-radius: var(--border-radius);
  border: 1px solid white;
  background: #000;
  color: #fff;
  text-align: center;
}

.tooltip:hover:before {
  display: block;
}
